body {
}

.row {
}

#card_grid {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% ;
    grid-template-rows: 20% 20% 20% 20% 20% 20% ;
}



.square {
    width: 200px;
    height: 25px;
    background-color: gray;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
}
