body {
    background-color: #f5f5f5;
    font-family: sans-serif;
}

h1 {
    font-size: large;
}

h2 {
    font-size:medium;
}

h3 {
    font-size: medium;
}

.card-list {
    background-color: #f5f5f5; 
    padding: 0px 0px;
    width: 950px;
    display: flex;
    flex-wrap: wrap;
    margin: 5px auto;
}

.card {
    background: #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin: 25px auto;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.08), 0px 1px 6px 1px rgba(0,0,0,.08);
}

.title-bar{
    width: 100% 
}

.line-chart{
    width: 1050px;
}

.pie-chart{
    width: 50%;
}

.goal-details-container{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    width: 1050px;
    padding: 0px;
    
}

.goal-details-text {
    width: 50%;
}

.leader-board {
    width: 1050px;
}

.participant-card {
    width: 900px;
    background: #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin: 25px auto;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.08), 0px 1px 6px 1px rgba(0,0,0,.08);
}

.new-goal {
    color: #fa6400;
    border-color: #fa6400;
    font-size: 13px;
    background-color: none;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    border-radius: 4px;
    border: 1px solid #fa6400;
    max-height: 34px;
    padding: 8px 20px
}