body {
    background-color: gray;
    font-family: sans-serif;
}

h1 {
    font-size: large;
}

h2 {
    font-size:medium;
}

h3 {
    font-size: medium;
}

.card-list {
    
    background-color: #f5f5f5; 
    padding: 0px 0px;
    width: 950px;
    display: flex;
    flex-wrap: wrap;
    margin: 5px auto;
}

.card {
    background: #ffffff;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    padding: 5px;
    margin: 25px auto;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.08), 0px 1px 6px 1px rgba(0,0,0,.08);
    
}
