body {
    background-color: #666;
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    padding: 0;
}

h2 {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#player {
    background-color: inherit;
    width: 800px;
}

.captures {
    background-color: inherit;
    width: 500px;
    height: 500px;
    margin-right: auto;
    margin-left: auto;
}

#games {
    background-color: inherit;
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}

#about {
    background-color: inherit;
    width: 800px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
}
