body {
    background-color: #383838;
}

#board {
    width: 800px;
    height: 800px;
    border-style: outset;
    border: 15px solid gray;
    background-color: white;
    margin: 15px auto;
    display: block;
    flex-direction: row;
    padding: 0;
}

.rank {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.squares {
    display: inline-block;
    width: 98px;
    height: 98px;
    border: 1px solid black;
    text-decoration: none;
}

.white {
    background-color: #d3d3d3;
}

.black {
    background-color: #a9a9a9;
}
