html {
    height: 100%;
}

body {
    background-color: gray;
    background-color: #1fc8db;
    background-image: linear-gradient(
        140deg,
        #eadedb 0%,
        #bc70a4 50%,
        #bfd641 75%
    );
    opacity: 0.95;
    height: 100%;
}

#container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

a:link {
    color: purple;
}

a:visited {
    color: rgb(62, 0, 62);
}

a:hover {
    font-size: 110%;
}

#title-box {
    margin: 15px auto 15px auto;
    text-align: center;
    padding: 10px;
    width: 80%;
    box-shadow: 5px 5px 5px rgb(60, 20, 106);
    background-color: rgb(218, 218, 218);
    border-radius: 10px;
}

#goalListContainer {
    margin: 25px auto;
    display: flex;
    justify-content: space-around;
    width: 80%;
    flex-wrap: wrap;
}

.contentcard {
    width: 350px;
    max-width: 350px;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(218, 218, 218);
    box-shadow: 5px 5px 5px rgb(60, 20, 106);
}

#footer {
    font-family: monospace;
    font-size: 12px;
}
